<html>
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
Successfully created new person:
<p>
    <b>Name:</b><%=person.name%>
    <br>
    <b>Age:</b><%= person.pass %>
    <br><a href='/form1'>Create new Person</a>
</p>
</body>
</html>